<footer class="footer">
  <div class="container">
  <div class="content has-text-centered" style="display: flex;background-color: darkcyan;color: antiquewhite;">
      <p style="margin-right: 30px;margin-left: 150px;">Browse Games</p>
      <p style="margin-right: 30px;">Origin</p>
      <p style="margin-right: 30px;">Answer HQ</p>
      <div class="loginHeader">
        <p style="margin-right: 30px;">About</p>
        <p style="margin-right: 30px;">Jobs</p>
      </div>
  </div>
  </div>
  </footer>

